<!doctype html>
<html lang="en">

    <head>
        <%- include('../partials/head'); %> 
    </head>

    <body class="text-center">
   
        <!-- Title -->
        <h1>Stats</h1>

        <p style="color:green">Account Balance: $<%- account_balance %></p>
        <p style="color:red">Games Played:<%- games_played %></p>
        <p style="color:rgb(0, 255, 255)">Hands Won:<%- hands_won %></p>
        <p style="color:rgb(196, 0, 255)">Hands Lost:<%- hands_lost %></p>
        <p style="color:rgb(255, 247, 0)">Net Profit:<%- net_profit %></p>

    </body>

</html>